.logoter{
    width: 100px;
    height: 100px;
    float: left;
}

main{
    width: 70%;
    text-align: justify;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}

#contacto{
    background-color: #53C7FD;
}

#contacto h3{
    color: rgb(255, 0, 98);
}





#tabla{
    width: 50%;
    margin-top: 50px;
    position: relative;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: overlay;
    position: relative; 
    height: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.678);
  }
  
  #tituloTabla{
      background-color: #53C7FD;
      color: #fff;
      text-align: center;
      margin-bottom: 3px;
  }

  tfoot, thead{
    background-color: rgb(255, 0, 98);
    color: #fff;
    text-align: center;
}

aside{
    margin-top: 50px;
}